<h1>Observables</h1>
<br />
<h2>Push vs Pull Protocols</h2>
<p>
	Pull and Push are two different protocols that describe how a data Producer
	can communicate with a data Consumer
</p>
<table>
	<thead>
		<tr>
			<th></th>
			<th>
				Single
			</th>
			<th>
				Multiple
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<strong>Pull</strong>
			</td>
			<td>
				Function
			</td>
			<td>
				<a
					href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols">Iterator</a>
			</td>
		</tr>
		<tr>
			<td>
				<strong>Push</strong>
			</td>
			<td>
				Promise
			</td>
			<td>
				Observable
			</td>
		</tr>
	</tbody>
</table>

<hr />
<h4>Pull :</h4>
<p>
	What is Pull? In Pull systems, the Consumer determines when it receives data
	from the data Producer. The Producer itself is unaware of when the data will
	be delivered to the Consumer.
</p>
<hr />
<p>
	Every JavaScript Function is a Pull system. The function is a Producer of
	data, and the code that calls the function is consuming it by "pulling" out a
	single return value from its call.
</p>
<hr />
<table>
	<thead>
		<tr>
			<th></th>
			<th>
				Producer
			</th>
			<th>
				Consumer
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<strong>Pull</strong>
			</td>
			<td>
				<strong>Passive:</strong>
				produces data when requested.
			</td>
			<td>
				<strong>Active:</strong>
				decides when data is requested.
			</td>
		</tr>
		<tr>
			<td>
				<strong>Push</strong>
			</td>
			<td>
				<strong>Active:</strong>
				produces data at its own pace.
			</td>
			<td>
				<strong>Passive:</strong>
				reacts to received data.
			</td>
		</tr>
	</tbody>
</table>
<hr />
<h4>Push :</h4>
<p>
	What is Push? In Push systems, the Producer determines when to send data to
	the Consumer. The Consumer is unaware of when it will receive that data.
</p>
<hr />
<p>
	Promises are the most common type of Push system in JavaScript today. A
	Promise (the Producer) delivers a resolved value to registered callbacks (the
	Consumers), but unlike functions, it is the Promise which is in charge of
	determining precisely when that value is "pushed" to the callbacks.
</p>